<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/cars" method="post">
      <label for="makeModel">What is your car's make and model?</label>
      <input id="makeModel" name="makeModel" type="text">
      <label for="miles">How many miles are on the vehicle?</label>
      <input id="miles" name="miles" type="text">
      <label for="price">How much are you asking?</label>
      <input id="price" name="price" type="text">
      <button class="btn btn-warning" type="submit">Add my car!</button>
    </form>
  </body>
</html>