<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to Epicardus!</h1>
    <a href='/cars/new'><button class="btn btn-warning">Add a new car</button></a>
    <a href='/cars'><button class="btn btn-primary">See list of cars</button></a>
  </body>
</html>